<tr>
	<td>
		<%= post.id %>
	</td>
	<td>
		<%= post.created_at %>
	</td>
	<td>
		<%= post.user.email %>
	</td>
	<td>
		<%= truncate(post.text) %>
	</td>
	<td>
		<%# Change the id of this element to include the `post.id` %>
		<%= link_to 'Edit', edit_post_path(post), id: "edit_#{post.id}" %>
	</td>
</tr>